* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: gray;
  font-family: Montserrat, "Courier New", Courier !important;
  /*CSS from CSS3 Patterns Gallery on Github*/
  background-color: black !important;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    ) !important;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px !important;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px !important;
  /*End CSS*/
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: red;
  box-shadow: 0px 0px 20px;
  height: 80px;
}

.burger {
  display: none;
}

#logo {
  max-width: 100%;
  height: auto;
}

#navbar > ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  display: block;
  margin: 0px 40px 0px 40px;
  padding: 35px 0px 35px 0px !important;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white;
  color: red;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

#headshot {
  width: 300px;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px black;
  border-radius: 50%;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-300px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

#welcome-section {
  padding-top: 50px;
}

.section {
  margin: 100px 0px 100px 0px;
  padding: 0px 140px 0px 140px;
}

.section-header {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

#projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-tile {
  color: white;
  transition: 100ms linear;
}

.project-tile:hover {
  transform: scale(1.1);
}

.project-img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

.profile-img {
  width: 250px;
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}

.profile-img:hover {
  transform: scale(1.1);
}

#credentials-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.credential-img {
  width: 250px;
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}

.credential-img:hover {
  transform: scale(1.1);
}

#resume {
  width: 70%;
  height: 30vw;
}

#contacts-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-tile {
  margin: 0px 30px;
  transition: 100ms linear;
}

.contact-tile:hover {
  transform: scale(1.1);
}

.contact-img {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

@media only screen and (max-width: 1200px) {
  #resume {
    display: none;
  }

  #navbar {
    top: 30px;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 100% !important;
    transition: all 400ms;
  }

  .burger {
    display: block;
    position: fixed;
    color: white;
  }

  .burger-active {
    position: fixed !important;
    color: white;
  }

  #navbar {
    left: -100%;
  }

  .nav-active {
    left: 0 !important;
  }

  #navbar > ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    border-radius: 45deg;
    margin: 0px 40px 0px 0px;
  }

  #logo {
    display: none;
  }

  #welcome-section {
    padding-top: 0;
    height: auto;
  }

  .section {
    margin: 50px 0;
    padding: 0px 0px 0px 140px;
  }
}

@media only screen and (max-width: 768px) {
  p,
  #resume {
    display: none;
  }

  #welcome-section {
    padding-top: 0;
    height: auto;
  }

  .section {
    margin: 50px 0;
    padding: 0px 0px 0px 140px;
  }

  .section-header {
    text-align: left;
    font-size: 20px;
  }

  #credentials-div,
  #projects-section,
  #contacts-div {
    display: flex;
    flex-direction: column;
  }
}
