* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: Montserrat, "Courier New", Courier;
  /*CSS from CSS3 Patterns Gallery on Github*/
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  /*End CSS*/
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: red;
  box-shadow: 0px 0px 20px;
  height: 80px;
}

#logo {
  max-width: 100%;
  height: auto;
}

#navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  display: block;
  margin: 0px 40px 0px 40px;
  padding: 27px 0px 27px 0px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white;
  color: red;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

#headshot {
  width: 300px;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px black;
}

#welcome-section {
  padding-top: 70px;
  height: 100vh;
}

.section {
  margin: 100px 0px 100px 0px;
  padding: 0px 170px 0px 170px;
}

.section-header {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
}

.project-tile {
  color: white;
}

.project-img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

#githun-img {
  margin: 0 auto;
}

#credentials-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.credential-img {
  width: 250px;
  height: auto;
}

#resume {
  width: 70%;
  height: 30vw;
}

#contacts-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-tile {
  margin: 0px 30px;
}

.contact-img {
  width: 100px;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  #navbar {
    flex-direction: column;
    width: 130px;
    height: 100%;
  }

  #navbar > ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    padding: 0;
    margin: 0;
  }

  #logo {
    display: none;
  }

  #credentials-div {
    display: flex;
    flex-direction: column;
  }

  .section {
    margin: 100px 0px 100px 0px;
  }

  #resume {
    width: 40vw;
    height: 50vw;
  }
}
