* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: gray;
  font-family: Montserrat, "Courier New", Courier !important;
  /*CSS from CSS3 Patterns Gallery on Github*/
  background-color: black !important;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    ) !important;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px !important;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px !important;
  /*End CSS*/
  scroll-behavior: smooth;
  height: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: red;
  box-shadow: 0px 0px 20px;
  height: 80px;
}

.burger {
  display: none;
}

#logo {
  max-width: 100%;
  height: auto;
}

#navbar > ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  display: block;
  margin: 0px 40px 0px 40px;
  padding: 35px 0px 35px 0px !important;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white;
  color: red;
  box-shadow: 0px 0px 15px black;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

#headshot {
  width: 300px;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px black;
  border-radius: 50%;
  animation: fadeIn 1s ease-in-out;
}

#welcome-section {
  padding-top: 10px;
}

#about {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  animation: fadeIn 1.5s ease-in-out;
}

.emph {
  font-family: "Pacifico", cursive;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-300px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

.section {
  margin: 100px 0px 100px 0px;
  padding: 0px 140px 0px 140px;
}

.section-header {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

#projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-img {
  width: 250px;
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}

#codesandbox-logo {
  border-radius: 50%;
}

.profile-img:hover {
  transform: scale(1.2);
}

#credentials-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.credential-img {
  width: 250px;
  max-width: 100%;
  height: auto;
  transition: 100ms linear;
}

.credential-img:hover {
  transform: scale(1.2);
}

#resume-section a {
  color: white;
  text-decoration: none;
  transition: 100ms linear;
}

#resume-section a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
}

#resume {
  text-align: center;
  width: 90%;
  height: 30vw;
}

#resume-icon {
  display: none;
}

#contacts-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
}

.contact-tile {
  margin: 0px 30px 0px 30px;
  transition: 100ms linear;
}

.contact-tile:hover {
  transform: scale(1.2);
}

.contact-img {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

@media only screen and (max-width: 1200px) {
  html {
    scroll-padding-top: 10px;
  }

  #main {
    margin-left: -130px;
    transition: all 400ms;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 100% !important;
    transition: all 400ms;
    left: -100%;
    visibility: hidden;
  }

  .burger {
    display: block;
    margin: 20px 0px 0px 20px;
    position: fixed;
    color: white;
  }

  .burger-active {
    position: fixed !important;
    color: white;
    z-index: 1;
  }

  .nav-active {
    left: 0 !important;
    visibility: visible !important;
  }

  .main-active {
    margin-left: 0 !important;
  }

  #navbar > ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    margin: 0px 40px 0px 0px;
  }

  #logo {
    display: none;
  }

  #about {
    font-size: 20px;
  }

  #welcome-section {
    height: auto;
  }

  .section {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 140px;
  }

  #resume-section,
  #contact {
    padding: 0;
  }

  #resume-icon {
    display: inline-block;
  }

  #resume {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    scroll-padding-top: 10px;
  }

  #main {
    text-align: center;
    margin-left: -130px;
  }

  .main-active {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }

  #resume-icon {
    display: block;
  }

  #resume {
    display: none;
  }

  #welcome-section {
    height: auto;
  }

  .section {
    margin: 50px 0;
    padding: 0px 0px 0px 140px;
  }

  #credentials-div,
  #projects-section,
  #contacts-div {
    display: flex;
    flex-direction: column;
  }
}
